[user]
	name = liufengxia
	email = sayingwhy@163.com 
[vim]
	editor = zsh

[merge]
        summary = true
         tool = vimdiff
[diff]
        renames = copy
[color]
        diff = auto
        status = true
        branch = auto
        interactive = auto
        ui = auto
        log = true
[status]
        submodulesummary = -1
[mergetool "vimdiff"]
        cmd = "vim --noplugin \"$PWD/$MERGED\" \
                  +\":split $PWD/$REMOTE\" +\":set buftype=nowrite\" \
                  +\":vertical diffsplit $PWD/$LOCAL\" +\":set buftype=nowrite\" \
                  +\":vertical diffsplit $PWD/$BASE\" +\":set buftype=nowrite\" \
                  +\":wincmd l\""
[format]
    numbered = auto

[alias]
    co = checkout
    ci = commit
    st = status
    pl = pull
    ps = push
    dt = difftool
    l = log --stat
    cp = cherry-pick
    ca = commit -a
    b = branch
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
